*{
   margin: 0px;
   padding: 0px;
}
body{
    height: 73vh;
    width: 100%;
    background-color: black;
}
#date{
    text-align: center;
    margin: auto;
    margin-top:12%;
    font-size:12vh;   
    height: fit-content;
    width: fit-content;
    background-color: lightskyblue;
    font-style: italic;
    border-radius: 3vh;
    border-color:blue;
    border-style:double;
    color: aquamarine;
}
#clock{
    height: fit-content;
    width: fit-content;  
    text-align: center;
    font-size: 11vh;
    margin: auto;
    border-radius: 3vh;
    border-style:dashed;
    border-color:blueviolet;
    background-color:lightgrey;
    font-style: italic;
    color: cornflowerblue;
}
#d1{
    margin-top: 5vh;
    height: 7vh;
    width: 25vh;
    border-radius: 2vh;
    background-color: lightgreen;
}
@media only screen and (max-width: 1140px){
   #d1{
    margin-top: 1vh;
    height: 5vh;
    width: 23vh;
   }
}