*{
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}
.timee{
    background-color:lightskyblue;
    flex-direction: column;
    font-size:5.7vh;
    color: blue;
    font-style: italic;
    height: fit-content;
    width:max-content;
    border-radius: 3vh;
    margin-left: 6vh; 
}
  input{
    height: 7vh;
    width: 14vh;
    border-radius: 2vh;
    margin-left: 3.3vh;
}
  #b1{
    background-color: lightseagreen;
}
  #b2{
    background-color: lightcoral;
}
  #b3{
    background-color: orange;
}
  #d1{
    margin-top: 6vh;
    height: 7vh;
    width: 25vh;
    border-radius: 2vh;
    background-color: lightgreen;
}
@media only screen and (max-width: 1140px){
  .timee{
    font-size: 4.0vh;
  }
  input{
    height: 5vh;
    width: 10vh;
    margin-left: 3vh;
  }
  #d1{
    height: 5vh;
    width: 15vh;
  }
}